header {
  .container {
    background: #fff;
    align-items: flex-start;
    padding: 40px;

    .header {
      position: relative;
      width: 100%;

      &__title {
        font-family: 'robotoregular';
        font-size: 20px;
        text-transform: uppercase;

        [class^='header__title'] {
          display: inline-block;
          padding: 15px;
        }

        &_name {
          color: #834545;
          // color: rosybrown;
        }

        &_initials {
          color: white;
          background-color: black;
        }
      }

      &__mobile_menu_btn {
        z-index: 100;
        position: absolute;
        right: 0;
        top: 2px;
        font-size: 35px;
        cursor: pointer;

        /* Larger than desktop */
        @media (min-width: 1000px) {
          display: none;
        }

        &:hover {
          color: deeppink;
        }
      }

      &__nav {
        z-index: 1;
        display: block;
        position: relative;
        overflow: hidden;
        right: 0;
        left: 0;
        top: -250px;
        height: 0px;
        transition: .3s top, .3s height;
        transform: none;
        font-family: 'roboto_condensedbold';
        text-transform: uppercase;

        @media (min-width: 1000px) {
          left: auto;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          &_active {
            top: 50%;
            height: auto;

            .header__nav__ul {
              .nav_item {
                display: inline-block;
                padding: 10px 30px;
              }
            }
          }
        }

        &__ul {
          margin: 0;
          padding: 0;
          font-size: 30px;

          @media (min-width: 1000px) {
            margin: 0;
            font-size: 20px;
          }
        }

        &_active {
          top: 0px;
          height: 280px;

          .header__nav__ul {
            margin: 10px 0 0;

            .nav_item {
              display: block;
              margin: 20px 0;
              text-align: center;

              &:first-child { margin-top: 0; }
              &:last-child { margin-bottom: 0; }
            }
          }
        }


        .nav_item {
          display: none;

          @media (min-width: 1000px) {
            display: inline-block;
            padding: 10px 30px;
          }
        }
      }
    }
  }
}
