header {
  .container {
    background: #fff;
    align-items: flex-start;
    padding: 40px;

    .header__content {
      position: relative;
      width: 100%;

      .header__title {
        font-family: 'robotoregular';
        font-size: 20px;
        text-transform: uppercase;

        * {
          display: inline-block;
          padding: 15px;
        }

        &_name {
          color: #834545;
          // color: rosybrown;
        }

        &_initials {
          color: white;
          background-color: black;
        }
      }

      .header__nav {
        font-family: 'roboto_condensedbold';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        text-transform: uppercase;

        ul {
          margin: 0;
        }

        .nav_item {
          display: inline-block;
          padding: 10px 30px;
        }
      }
    }
  }
}
