.container.welcome {
  font-family: 'droid_serifregular', sans-serif;
  padding: 0;

  .block {
    position: relative;
    width: 100%;
  }

  .first-block {
    


  }

  .second-block {
    padding-top: 70px;

 
  }
}
